.contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  gap: 15px;
  box-shadow: 0px 5px 10px -3px rgb(183, 168, 168);
  border-radius: 10px;
  margin-top: 110px !important;
}

.leftFiltered {
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  gap: 15px;
}

.rightFiltered {
  width: 30%;
  padding-right: 20px;
}

#search {
  position: relative !important;
}

.icon{
  position: absolute;
  right: 0;
  top: 26%;
  font-size: 20px;
}

.inputProduct:focus ~ .icon {
  display: none;
}


@media only screen and (max-width: 768px) {
  .contain{
    flex-direction: column;
    padding: 10px 20px;
  }

  .leftFiltered{
    padding: 0;
    width: 100% !important;
    justify-content: center;
 
  }
  .rightFiltered{
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  
}